<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">A blog gives you an opportunity to build trust and loyalty with your audience.</p>
    <hr class="my-4">
    <p>Once you log in you can submit an article, read, edit and delete articles,
     as well as browse others&#39; articles.</p>
    <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
  </div>
</div>


